db.sqlite3
__pycache__/
*.pyc
.DS_Store
migrations/
.env
# Fichiers logs et temporaires
*.log
*.swp
*.swo

# Environnement virtuel
.venv/
venv/

# IDE
.vscode/
.idea/

# Fichiers statiques collectés
staticfiles/
media/

# Archives
*.zip
*.tar.gz
